$min-label-width: 140px;
$validation-color: rgba(230, 161, 156, 0.3);
$font-size: 18px;
$font-size-headers: 20px;

.membership-container {
  line-height: 1;
  font-size: $font-size;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button, input, select {
    font-size: $font-size;
    line-height: 1;
  }

  .membership-wrapper {
    max-width: 750px;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  select {
    padding: 5px 0 5px 0;
  }

  label {
    padding-right: 4px;
  }

  .d-flex {
    display: flex;
  }

  .d-flex-wrap {
    flex-wrap: wrap;
  }

  .col-50 {
    float: left;
    box-sizing: border-box;
    width: 50% !important;
  }

  .form-input,
  .text-input {
    padding: 3px 3px 3px 0;
  }

  .text-input {
    display: flex;

    label {
      align-self: center;
      min-width: $min-label-width;
    }
  }

  .header-row {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: $font-size-headers;
  }

  .row,
  .col-50 {
    border: 1px solid transparent;
  }

  .no-border {
    border: none;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .padded-float {
    padding-left: 10px;
    min-width: 90px !important;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }

  .hidden {
    visibility: hidden;
  }

  .invalid {
    border: 1px solid darken($validation-color, 30%);
    background-color: $validation-color;
    border-radius: 4px;
  }

  @media screen and (max-width: 650px) {
    .col-50,
    input[type="submit"] {
      width: 100% !important;
    }
    .padded-float {
      padding-left: 0;
      min-width: $min-label-width !important;
    }
  }

  .primary-btn, .secondary-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 4px;
    cursor: pointer;
    float: right;
    text-transform: none;
    min-width: 170px;
    margin-top: 20px;
  }

  .primary-btn, .primary-btn:active {
    background-color: lighten(rgb(16, 59, 94), 30%) !important;
    color: white !important;
  }

  .primary-btn:hover {
    background-color: lighten(rgb(16, 59, 94), 15%) !important;
  }

  .secondary-btn {
    background-color: lighten(orange, 20%);
    color: black;
  }

  .secondary-btn:hover {
    background-color: lighten(orange, 5%);
  }

  .inline-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .field-error {
    width: 100%;
    text-align: center;
    font-style: italic;
  }
}
